$primary: #184b80;
$accent: #0695d6;
$light-grey: rgb(204, 204, 204);
$dark-grey: rgba(0, 0, 0, 0.5);
$green: #CADF8C;

$border-thin: 0.1rem solid $light-grey;
$border: 0.15rem solid $dark-grey;
$border-dashed: 0.1rem dashed $light-grey;