version: "3.7"

services:

    gocd:
        image: gocd/gocd-server:v20.1.0
        restart: always
        user: root
        
        env_file: 
            - ./docker-env/gocd.env

        volumes:
            - ./volumes/gocd/home:/home/go:rw
            - ./volumes/gocd/data:/godata:rw

        ports:
            - 8153:8153
            - 8154:8154



            # docker run -v /path/to/godata:/godata -v /path/to/home-dir:/home/go gocd/gocd-server:v20.1.0

